<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Social Login</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
	<div th:if="${param.logout}" class="alert alert-info">You have been logged out</div>
		<div th:if="${param.error}" class="alert alert-danger">There was an error, please try again</div>

	
		
		<h1 class="col-sm-12">Login</h1>
		<form th:action="@{/login}" method="POST" >
			<div class="row col-sm-6">
				<div class="form-group">
					<label class="col-sm-3">Username</label> 
					 <td><input type="text" name="username" /></td>
				</div>
                <br/>
				<div class="form-group">
					<label class="col-sm-3">Password</label> 
					 <td><input type="password" name="password" /> </td>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3">Pin</label> 
					 <td><input type="password" name="pin" /> </td>
				</div>

				<div class="col-sm-12">
					<td>
		                  <input type="submit" value="Submit" />
		                  <a th:href="@{/}">Cancel</a>
               		</td>
				</div>
			</div>
		</form>
		<div class="clearfix"></div>
        <br/>
        <br/>
		
		
		
	</div>
</body>
</html>