<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Social Login</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
</head>
<body>
	<form th:action="@{/authenticator-url}" method="POST">
		<table class="table table-borderless">
			<tbody th:if="${qrUrl !=  null}">
				<tr>
					<td> Use your Google Authenticator app, to scan the the QR code<br>
						<img alt="QR Code" th:src="${qrUrl}">
					</td>
					<td></td>					
				</tr>
				<tr>
					<td>
						<p th:if="${confirmError}" class="error"> wrong code, try again </p>
						<input type="text" th:field="*{code}" placeholder ="Verification Code"/> <br>
						<button type="submit" class="signupbtn signup_btn"> Enable MFA</button>
					
					</td>
					<td></td>					
					
				</tr>
			</tbody>
		</table>	
	</form>
</body>
</html>